<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SSASQL" connectionString="Data Source=.\sameera;Initial Catalog=FlockNote;Persist Security Info=True;User ID=sa;Password=tingo"
      providerName="System.Data.SqlClient" />
    <add name="FlockNote.Properties.Settings.FlockNoteConnectionString"
      connectionString="Data Source=DESKTOP-1R4AS4U\SAMEERA;Initial Catalog=FlockNote;Persist Security Info=True;User ID=sa;Password=tingo;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>